/* styles.css */
.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  

  button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  *{
    background-color: olivedrab;
    color: white;
    text-align: center;
    padding: 10px 0;

  }